@font-face {
  font-family: "gmarketMedium";
  src : url("../data/fonts/GmarketSansTTFMedium.ttf") format("truetype");
}

@font-face {
  font-family: "notosans";
  src : url("../data/fonts/NotoSans-Medium.ttf") format("truetype");
}


html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  background-color: #ffeeed;
  overflow: hidden;
  font-family: "notosans";
}

* {
  box-sizing: border-box;
}

p {
  color : #333333;
}

ol, ul {
  list-style:none;
  margin : 0;
  padding : 0;
}

.swal-modal {
  border-radius: 20px;
}